<!DOCTYPE html>
<html>
<head>
  <title>Product Listing</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Product Listing</h1>
    
    <% if (products.length === 0) { %>
      <p>No products found.</p>
    <% } else { %>
      <ul class="product-list">
        <% products.forEach((product) => { %>
          <li class="product">
            <div class="product-image">
              <img src="/images/<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="product-details">
              <h2 class="product-name"><%= product.name %></h2>
              <p class="product-price">Price: $<%= product.price %></p>
              <p class="product-company">Company: <%= product.company %></p>
              <p class="product-category">Category: <%= product.category %></p>
              <p class="product-description">Description: <br><br><%= product.description %></p>
            </div>
          </li>
        <% }); %>
      </ul>
    <% } %>
  
    <div class="add-link">
      <a href="/add">Add a Product</a>
    </div>
  </div>
</body>
</html>
